@import url('https://fonts.googleapis.com/css2?family=Montserrat:display=swap');

.latest-box {
    width: 80%;
    margin: 64px auto 0px;
}

.latest-heading {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding-bottom: 10px;
    border-bottom: 4px solid #F08080;
    width: fit-content;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.latest-flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.LatestComponent {
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LatestComponent img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 5px 10px #0000000D;
    transition: .5s ease;
}

.LatestComponent img:hover {
    box-shadow:
        1px 1px #373737,
        2px 2px #373737,
        3px 3px #373737,
        4px 4px #373737,
        5px 5px #373737,
        6px 6px #373737;
    transform: translateX(-3px);
    transition: .5s ease;
}

.LatestComponent a {
    text-decoration: none;
}

.latest-post-title {
    font-size: 24px;
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 10px 10px;
    position: relative;
    background: linear-gradient(0deg, darkcyan, darkcyan) no-repeat right bottom / 0 2px;
    transition: background-size 350ms;
    padding-bottom: 2px;
}

.latest-post-title:where(:hover, :focus-visible) {
    background-size: 100% 2px;
    background-position-x: left;
}

.LatestComponent p {
    color: #908D8D;
    font-size: 17px;
    margin: 0px 20px 20px 10px;
    font-family: 'Montserrat', sans-serif;
}

.latest-post-type {
    color: #404040;
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.latest-post-date {
    color: #404040;
    font-size: 17px;
    letter-spacing: 0.85px;
    opacity: 0.48;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 900px) {

    .latest-flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 32px;
    }

    .LatestComponent {
        width: 100%;
        margin-bottom: 32px;
    }

    .LatestComponent:last-child {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 576px) {

    .latest-heading {
        font-size: 28px;
    }

    .latest-post-title {
        font-size: 18px;
    }

    .LatestComponent p, .latest-post-type, .latest-post-date {
        font-size: 12px;
    }
}
