.sidebar-container {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: white;
    display: grid;
    align-items: flex-start;
    padding-top: 40px;
    top: 70px;
    left: 0;
    transition: 0.3s ease-in-out;
}

.show {
    opacity: 100%;
    top: 70px;
}

.hide {
    opacity: 0;
    top: -100%;
}

.sidebar-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 80px);
    text-align: center;
}

.sidebar-menu * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.sidebar-menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 2em;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    border-bottom: 3px solid #f0f0f0;
}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    color: rgba(0, 139, 139, 0.6);
    width: fit-content;
    margin: 0 auto;
    position: relative;
    letter-spacing: 1px;
    padding: 0.5em 17px;
}

.sidebar-menu a:before {
    left: 20%;
    right: 20%;
    top: 50%;
    content: '';
    border-left: 12px solid #F08080;
    border-right: 12px solid #F08080;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 3px;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.sidebar-menu li a:hover,
.sidebar-menu li .active {
    color: darkcyan;
}
.sidebar-menu li a:hover:before,
.sidebar-menu li .active:before {
    left: 0;
    right: 0;
    opacity: 1;
}